*.csv
*.dat
*.gz
*.log
*.out
*.pid
*.seed
*.sublime-project
*.sublime-project
*.sublime-workspace
*.sublime-workspace
*.sw?
*.swo
*.swp
.DS_Store
.idea
bower_components
build/
coverage
dist/
doc/
lib-cov
logs
node_modules/
node_modules/
npm-debug.log
override.js*
pids
ref/
report/
results
unit_exec_graph.*
VERSION
xunit.xml
